* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
    background-color: #D4E4F7;
}

.header {
    height: 25vh;
    background-image: linear-gradient(
        to right bottom,
      rgba(52, 123, 152, 0.8),
      rgba(96, 199, 202, 0.8)),
        url(../img/header.jpg);
        background-position: center;
        border-radius: 5px;
        position: relative;

}

.text-box {
    /* center text box */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    

}

.heading-primary-main{
    display: flex;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
   
    animation: moveInLeft 2s ease-in-out;
    
}

.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;

    animation: moveInRight 2s ease-in-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
        
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.form-item {
    padding: 10px;
    border:  #777;
   
}

.form-item-text {
    padding: 10px;
}

.form-item-text input {
    width: 75vw;
    height: 40px;
    background-color: #6FC1CB;
    color: #fff;
    font-size: 16px;
    outline: none;
    border-radius: 3px;;
}

.form-item-text input:hover {
    background-color: #3B7D8E;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }

  .form-item-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .form-item-date input {
    height: 40px;
    background-color: #6FC1CB;
    color: #fff;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    text-align: center;
}

.form-item-date input:hover {
    background-color: #3B7D8E;
}



.btn {
    width: 80px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: #777;
}

.btn-create {
    background-color: rgba(52, 123, 152, 0.9);
    color: #fff;
}

.btn-delete {
    background-color: rgba(212, 146, 73, 0.9);
    color: #fff;
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 8px rgba(0,0,0,.3);
}

.skill-list-item {
    display: block;
    border: #777 solid;
    border-width: 1px;
    list-style-type: none;
    background-image: linear-gradient(
        to right bottom,
      rgba(52, 123, 152, 0.8),
      rgba(96, 199, 202, 0.8));
    margin-bottom: 15px;
    color: #fff;
    box-shadow: 1px 1px 2px 4px rgba(70, 65, 65, 0.4);  
}

#deleteItem {
    cursor: pointer;
}